<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">
        <h1>TODO List</h1>
        <!-- Tabla que muestra la lista de tareas -->
        <table class="table">
            <thead>
                <!-- Cabeceras de la tabla -->
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí puedes usar Thymeleaf para iterar sobre las tareas y mostrarlas -->
                <!-- Utiliza th:each para iterar sobre una lista de tareas -->
                <tr th:each="task : ${tasks}">
                    <!-- Celdas de la tabla que muestran los datos de cada tarea -->
                    <td th:text="${task.title}">Task Title</td>
                    <td th:text="${task.description}">Task Description</td>
                    <td th:text="${task.completed}">Task Completed</td>
                    <td>
                        <!-- Botones de "Editar" y "Eliminar" para cada tarea -->
                        <a th:href="@{/tasks/{id}/edit(id=${task.id})}" class="btn btn-primary btn-sm">Edit</a>

                        <a th:href="@{/tasks/{taskId}/delete(taskId=${task.id})}" class="btn btn-danger btn-sm delete-button">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Botón para crear una nueva tarea -->
        <a th:href="@{/tasks/new}" class="btn btn-success">New Task</a>
    </div>
    <!-- Scripts de jQuery y Bootstrap para funcionalidad adicional -->
    <script src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        // Captura todos los elementos con la clase 'delete-button'
        var deleteButtons = document.querySelectorAll('.delete-button');

        // Agrega un evento clic a cada botón de eliminación
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault(); // Previene el comportamiento predeterminado del enlace

                // Pregunta al usuario si está seguro de eliminar la tarea
                var confirmation = confirm('¿Seguro que quieres eliminar esta tarea? ID');

                if (confirmation) {
                    // Si el usuario confirma, redirige a la URL de eliminación
                    window.location.href = button.getAttribute("href");
                }
            });
        });
    </script>
</body>

</html>
